	
	<partial name="Partial/Slider" />
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<partial name="Partial/left-sidebar"/>				
				</div>
				
				<div class="col-sm-9 padding-right">
					<partial name="Partial/features_items" />
											
					<partial name="Partial/category-tab"/>

					<partial name="Partial/recommended_items"/>
				</div><!--features_items-->

					
				</div>
			</div>
	</section>